\:root
  --main-hd-color: rgba(4, 42, 168, 0.71)
  --main-bg-color: rgba(0, 0, 122)

@font-face
  font-family: MyFont
  src: url("./assets/fonts/Inter-SemiBold.ttf")
  font-weight: 600

html
  font-family: MyFont, serif

a
  color: rgba(255, 255, 255, 0.8)
  text-decoration: none

body
  background-color: lightgray
  display: flex
  flex-direction: column

li
  list-style-type: none

form
  background-color: rgb(236, 236, 235)
  width: 800px
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  margin: 200px auto auto
  position: relative
  height: 450px

header
  position: absolute
  width: 100%
  top: 0
  color: white
  height: 400px
  background-image: linear-gradient(to right, rgba(36, 36, 42, 0.71) 0%, var(--main-hd-color) 100%),url(../images/Collage.jpg)
  background-size: cover
  background-repeat: no-repeat

.header
  &__navigation
    position: relative
    color: white
    height: 400px
    display: flex
    justify-content: center
    align-items: center

  &__list
    display: flex
    justify-content: center
    font-size: 4rem

    &__item
      margin: 24px
      cursor: pointer
      transition: color 0.3s ease

      &:hover a
        color: white


header h1
  margin: 100px 0 0 310px

input
  border-radius: 6px
  width: 300px
  height: 35px
  margin: 16px

.box
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column



section
  background-color: rgb(236, 236, 235)
  width: 800px
  display: flex
  position: relative
  height: 450px
  margin: auto


.img
  &__container
    background-color: var(--main-bg-color)
    width: 40%
    height: inherit
    display: flex
    justify-content: center
    align-items: center

    img
      height: 400px
      width: 320px
      object-fit: contain

.user
  &__inf
    border-radius: 4px
    border: 2px solid var(--main-bg-color)
    font-size: 2rem


  &__bio
    margin: 8px


  &__container
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    margin: auto

.profile
  position: absolute
  width: 100vw
  display: flex
  justify-content: flex-end

  img
    height: 40px
    cursor: pointer
    display: flex
    margin: 10px












